include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include cpfa *.css
recursive-include cpfa *.csv
recursive-include cpfa *.html
recursive-include cpfa *.ico
recursive-include cpfa *.js
recursive-include cpfa *.json
recursive-include cpfa *.md
recursive-include cpfa *.png
recursive-include cpfa *.py
recursive-include cpfa *.svg
recursive-include cpfa *.txt
recursive-exclude cpfa *.pyc